*{

  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;


}

body{
    font-family: montserrat;

}

header{
    background: #e6c700;
    height: 60px;
    width: 100%;
    position: sticky;

}
nav{
    background: #0082e6;
    height: 140px;
    width: 100%;
    position: sticky;

}


label.logo{
    color: white;
    font-size: 55px;
    line-height: 130px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul{
    
     
    float: right;
    margin-right: 20 px;
    

}

 nav ul li{
    display: inline-block  ;
    line-height: 140px;
    margin: 0 5px  ;
    text-transform: uppercase;
    
 }

 nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
 }

 a.active,a:hover{
    background:  #1b9bff  ;
    transition: .5s;
 }
 
 .slider {
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 1s;
  }
  
  .slide {
    flex-shrink: 0;
    width: 100%;
  }
  
  img {
    width: 100%;
    height: 700px;
  }
  

  .slide1 {
    background-color: red;
    height:80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h4 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
    animation: moving-text 19s linear infinite;
  }
  
  @keyframes moving-text {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
  

  /*footer*/
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }



 
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  
  
    
  }
  
  .flex-item {
  
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
   max-width: 100%;
  }
  
  .image-resize{
    height: 550px;

  }
  
  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }



  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h5{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h5::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  